body {
    white-space: pre;
    background-color: #212121;
    font-family: Menlo;
    font-size: 12pt;
}
p {
    display: inline;
    color: white;
}

.IDENTIFIER {
    color: floralwhite;
}

.KEYWORD {
    color: #db789f;
}

.PUNCTUATION {
    color: #89a8f7;
}

.COMMENT {
    color: darkgrey;
}

.ERROR {
    color: #e74d67;
    text-decoration: underline;
}

.OPERATOR {
    color: aquamarine;
}

.LITERAL {
    color: #afc974;
}

.DIRECTIVE {
    color: #ffa158;
}

.NUMBER {
    color: #28d8f7;
}